body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1660px;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:1010px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:1010px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文琥珀';
  font-weight:400;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
  text-align:center;
}
#u5862 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:122px;
  width:505px;
  height:58px;
  font-family:'华文琥珀';
  font-weight:400;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
  text-align:center;
}
#u5862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
#u5863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:347px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u5863 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:317px;
  width:416px;
  height:347px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u5863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  word-wrap:break-word;
}
#u5864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u5864 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:195px;
  width:420px;
  height:310px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u5864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5865 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:382px;
  width:300px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5865_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5865.mouseOver {
  opacity:0.8;
}
#u5865_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5865.mouseDown {
  opacity:1;
}
#u5865_text {
	text-align:center;
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u5866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u5866 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:312px;
  width:300px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}
#u5866_img.selected {
}
#u5866.selected {
}
#u5866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:288px;
  word-wrap:break-word;
}
#u5867 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:317px;
  width:215px;
  height:40px;
}
#pwd {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u5868 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:242px;
  width:300px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}
#u5868_img.selected {
}
#u5868.selected {
}
#u5868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5869 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:247px;
  width:215px;
  height:40px;
}
#username {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5870 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:253px;
  width:28px;
  height:28px;
}
#u5870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5871 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:320px;
  width:28px;
  height:28px;
}
#u5871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u5873 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:910px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  line-height:24px;
}
#u5873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1096px;
  word-wrap:break-word;
}
